
Untitled.ipynb

Untitled.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

traj.jl~

.ipynb_checkpoints/test-checkpoint.ipynb

.ipynb_checkpoints/parallelopt-checkpoint.ipynb

.ipynb_checkpoints/opttest-parallel-checkpoint.ipynb

.ipynb_checkpoints/frtest2-checkpoint.ipynb

.ipynb_checkpoints/frtest-checkpoint.ipynb
